@font-face {
    font-family: 'RoxboroughCF';
    src: url('fonts/RoxboroughCF.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'RoxboroughCF', Arial, sans-serif;
    line-height: 1.6;
    background: #f4f4f4;
    color: #000; /* Define cor preta para todas as fontes do corpo */
    padding: 20px;
  }
  
  img {
    width: 200px;
    height: 200px;
    border-radius: 30rem;
    display: block;
    margin: 20px auto;
    box-shadow: 0 0 20px #fff;
    animation: brilho 2s infinite alternate;
  }
  
  @keyframes brilho {
    from {
      box-shadow: 0 0 10px #fff;
    }
    to {
      box-shadow: 0 0 20px black;
    }
  }
  
  header {
    background: #e6ccc8;
    color: #000; /* Cor preta para texto no cabeçalho */
    padding: 40px 20px;
    text-align: center;
    border-radius: 12px;
    margin-bottom: 20px;
  }
  
  header h1 {
    font-size: 2.5rem;
    margin-top: 10px;
    color: #000; /* Cor preta */
  }
  
  header p {
    font-size: 1.2rem;
    color: #000; /* Cor preta */
  }
  
  section {
    background: #fff;
    margin: 20px 0;
    padding: 20px;
    border-radius: 8px;
  }
  
  h2, h3, p, a, ul, li {
    color: #000; /* Define cor preta para todos os textos */
  }
  
  a {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  footer {
    background: #eee;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    margin-top: 30px;
  }
  
  footer h2, footer p {
    color: #000; /* Cor preta para textos no rodapé */
  }
  
